%html
  %head
    %link(href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet")
    %title Geocode For Free

  %body

    .container
      %nav.navbar.navbar-default{ role: 'navigation' }
        .navbar-header
          %a.navbar-brand{ href: '/' }
            Geocode For Free
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{ href: '/v1/docs' }
                API Docs

      = yield
