%html
	%head
		%link(href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet")

	%body

		.navbar.navbar-default{ role: 'navigation' }
			.navbar-header
				%button
		
		.container
			= yield
